<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parcsis.PSD.Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Parcsis.PSD.Publisher.Properties.Settings>
            <setting name="ServiceMachine" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>PSD Publisher</value>
            </setting>
            <setting name="BeatInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="BeatServiceAddress" serializeAs="String">
                <value>net.pipe://localhost/PSDPublisherHeartBeat</value>
            </setting>
        </Parcsis.PSD.Publisher.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FileLogger"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="WatchService.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>