<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Parcsis.PSD.Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
       <section name="WatchSection" type="Parcsis.PSD.Publisher.Configurations.WatchSection, Parcsis.PSD.Publisher"/>
    </configSections>
    <applicationSettings>
        <Parcsis.PSD.Publisher.Properties.Settings>
            <setting name="StateHolderFileName" serializeAs="String">
                <value>SendQueue.xml</value>
            </setting>
            <setting name="QueueProcessorInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FtpUserName" serializeAs="String">
                <value>tropin</value>
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value>6OxWodIdAl</value>
            </setting>
            <setting name="FtpTargetFolder" serializeAs="String">
                <value>Video</value>
            </setting>
            <setting name="FtpHost" serializeAs="String">
                <value>labs.pravo.ru</value>
            </setting>
            <setting name="HttpGetAddress" serializeAs="String">
                <value>http://presidium.parcsis.net:84/</value>
            </setting>
            <setting name="RetryCountPerProcessor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AdminMails" serializeAs="String">
                <value>maden@csharper.ru</value>
            </setting>
            <setting name="AdminMailContent" serializeAs="String">
                <value>Обвалилась отправка элемента {0} по причине ошибок в процессорах {1}</value>
            </setting>
            <setting name="AdminMailSubject" serializeAs="String">
                <value>Сервис PSD Publisher, ошибка публикации</value>
            </setting>
            <setting name="ConcurentFTPConnectionsCount" serializeAs="String">
                <value>3</value>
            </setting>
        </Parcsis.PSD.Publisher.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="rollFileListener"
               type="Parcsis.PSD.Publisher.TraceListeners.RollingFileListener, Parcsis.PSD.Publisher"
               delimiter=", "
               initializeData="Service.log"
               fileName="Service.log"
               rollTime="24:00:00"
               entryDateFormat="dd.MM.yyyy HH:mm:ss"
               fileNameFormat="yyyyMMdd"
               traceOutputOptions="ProcessId, DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="admin@adesms.ru">
        <network host="mail05.parking.ru" password="DjBvzLj,hf" port="25" userName="admin@adesms.ru"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding_Config" >
          <security mode="None">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="Parcsis.PSD.Publisher.HeartBeat.HeartBeatService">
        <endpoint address="net.pipe://localhost/PSDPublisherHeartBeat" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_Config" contract="Parcsis.PSD.Publisher.HeartBeat.IHeartBeatService"/>
      </service>
    </services>
  </system.serviceModel>
  <WatchSection>
    <Watches>
      <clear/>
      <add SourcePath="C:\Folder1" FileMask="*.*" FileNameParamRegExExpression=".*" IncludeSubFolders="false"/>
    </Watches>
  </WatchSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
